{% if product.metafields.custom.details or product.metafields.custom.certified_image or product.metafields.custom.downloadable_file or product.metafields.custom.downloadable_file_text %}
    <a href="#Detail-and-download-section" class="details-and-download-container">
        <p>{{ block.settings.title }}</p>
        {% render 'icon-caret' %}
    </a>
{% endif %}

<style>
.details-and-download-container {    
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    color: var(--color-base-text);
    font-size: 14px;
}

.details-and-download-container .icon {    
    height: 0.6rem;
}

</style>