.page-width-collapsible-images .accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground));
  border-bottom: 0.1rem solid rgba(var(--color-foreground));
}

.page-width-collapsible-images .accordion .accordion__title {
  font-size: 21px;
}

.page-width-collapsible-images .accordion summary {
  padding: 3.5rem 0;
}

.page-width-collapsible-images .accordion summary::after {
  content: "+";
  position: absolute;
  font-size: 26px;
  right: 1.5rem;
  font-weight: bold;
}

.page-width-collapsible-images .accordion details[open]>summary::after {
  content: "—";
}

.page-width-collapsible-images .accordion summary:hover {
  background: transparent;
}

.page-width-collapsible-images .accordion summary:hover .accordion__title {
  text-decoration: none;
}