.page-intro-section .grid {
  margin-bottom: 0;
}

.page-intro-section .grid__item {
  position: relative;
}

@media screen and (min-width: 750px) {
  .page-intro-section__grid--reverse {
    flex-direction: row-reverse;
  }
}

.page-intro-section__media {
  max-width: 100%;
}

.page-intro-section__media {
  min-height: 100%;
  overflow: visible;
}


@media screen and (min-width: 750px) {
  .page-intro-section__media {
    max-width: 100%;
  }
}

.page-intro-section__media--placeholder {
  position: relative;
  overflow: hidden;
}

.page-intro-section__media--placeholder:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-foreground), 0.04);
}

.page-intro-section__media--placeholder.page-intro-section__media--adapt {
  height: 20rem;
}

@media screen and (min-width: 750px) {
  .page-intro-section__media--placeholder.page-intro-section__media--adapt {
    height: 30rem;
  }
}

.page-intro-section__media--placeholder > svg {
  position: absolute;
  left: 50%;
  max-width: 80rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  fill: currentColor;
}

.page-intro-section__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-self: center;
  padding: 4rem calc(4rem / var(--font-body-scale)) 5rem;
  position: relative;
  z-index: 1;
}


.page-intro-section__media-item{
  max-width: 85vh;
  width:100%;

  margin:0 auto;

  /* margin:0 auto; */
}


.page-intro-section__text-item{
  width: 95%;
  max-width: 800px;
  margin:0 auto;
}


.page-intro-section__content{
  background: none;
  align-self: center;
  text-align: center;
}


.page-intro-section .grid__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-intro-section:not(.page-intro-section--overlap) .page-intro-section__media-item:after {
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.page-intro-section:not(.page-intro-section--overlap) .page-intro-section__text-item:after {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.page-intro-section .page-intro-section__media-item > * {
  border-radius: var(--media-radius);
  overflow: hidden;
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

.page-intro-section .global-media-settings {
  overflow: hidden !important;
}

.page-intro-section .page-intro-section__text-item > * {
  border-radius: var(--text-boxes-radius);
  overflow: hidden;
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}

.page-intro-section:not(.page-intro-section--overlap) .page-intro-section__media-item > *,
.page-intro-section:not(.page-intro-section--overlap) .page-intro-section__text-item > * {
  box-shadow: none;
}

@media screen and (max-width: 749px) {
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__media-item:after,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .grid__item .page-intro-section__media,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__media img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__text-item:after,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .grid__item .page-intro-section__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .page-intro-section.collapse-borders:not(.page-intro-section--overlap) .page-intro-section__content {
    border-top: 0;
  }
}


.page-intro-section--overlap .page-intro-section__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 750px) {
  .page-intro-section__grid--reverse .page-intro-section__content {
    margin-left: auto;
  }

  .page-intro-section--overlap .page-intro-section__text-item {
    display: flex;
    padding: 3rem 0;
  }

  .page-intro-section--overlap .page-intro-section__content {
    height: auto;
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    margin-top: 0;
    margin-left: -4rem;
  }

  .page-intro-section--overlap .page-intro-section__grid--reverse .page-intro-section__content {
    margin-left: 0;
    margin-right: -4rem;
  }

  .page-intro-section--overlap .page-intro-section__grid--reverse .page-intro-section__text-item {
    justify-content: flex-end;
  }

  .page-intro-section--overlap .page-intro-section__media-item--top {
    align-self: flex-start;
  }

  .page-intro-section--overlap .page-intro-section__media-item--middle {
    align-self: center;
  }

  .page-intro-section--overlap .page-intro-section__media-item--bottom {
    align-self: flex-end;
  }

  .page-intro-section__media-item--small,
  .page-intro-section__media-item--large + .page-intro-section__text-item {
    flex-grow: 0;
  }

  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .grid:not(.page-intro-section__grid--reverse) .page-intro-section__media-item:after,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .grid:not(.page-intro-section__grid--reverse) .page-intro-section__media,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .grid:not(.page-intro-section__grid--reverse) .page-intro-section__media img,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__grid--reverse .page-intro-section__text-item:after,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__grid--reverse .page-intro-section__content,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__grid--reverse .page-intro-section__content:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .grid:not(.page-intro-section__grid--reverse) .page-intro-section__text-item:after,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .grid:not(.page-intro-section__grid--reverse) .page-intro-section__content,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .grid:not(.page-intro-section__grid--reverse) .page-intro-section__content:after,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__grid--reverse .page-intro-section__media-item:after,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__grid--reverse .page-intro-section__media,
  .page-intro-section.collapse-corners:not(.page-intro-section--overlap) .page-intro-section__grid--reverse .page-intro-section__media img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .page-intro-section.collapse-borders:not(.page-intro-section--overlap) .grid:not(.page-intro-section__grid--reverse) .page-intro-section__content {
    border-left: 0;
  }

  .page-intro-section.collapse-borders:not(.page-intro-section--overlap) .page-intro-section__grid--reverse .page-intro-section__content {
    border-right: 0;
  }
}

.page-intro-section:not(.collapse-corners, .page-intro-section--overlap) .page-intro-section__media-item {
  z-index: 2;
}

.page-intro-section__content {
  border-radius: var(--text-boxes-radius);
  box-shadow: var(--text-boxes-shadow-horizontal-offset)
    var(--text-boxes-shadow-vertical-offset)
    var(--text-boxes-shadow-blur-radius)
    rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  word-break: break-word;
}

@media screen and (min-width: 990px) {
  .page-intro-section__content {
    padding: 3rem 2rem 5rem;
  }
}

.page-intro-section__content > * + * {
  margin-top: 2rem;
}

.page-intro-section__content > .page-intro-section__text:empty ~ a {
  margin-top: 2rem;
}

.page-intro-section__content > :first-child:is(.page-intro-section__heading),
.page-intro-section__text--caption + .page-intro-section__heading,
.page-intro-section__text--caption:first-child {
  margin-top: 0;
}

.page-intro-section__content :last-child:is(.page-intro-section__heading),
.page-intro-section__text--caption {
  margin-bottom: 0;
}

.page-intro-section__content .button + .page-intro-section__text {
  margin-top: 2rem;
}

.page-intro-section__content .page-intro-section__text + .button {
  margin-top: 3rem;
}

.page-intro-section__heading {
  margin-bottom: 0;

  font-family: pitch, monospaced;
  text-transform: uppercase;
}

.page-intro-section__text p {
  margin-top: 0;
  margin-bottom: 1rem;

  font-family: new-caledonia, serif;
  /* font-style: italic; */
  font-size: 1.15em;
  line-height: 1.2em;
  /* font-size: 1em; */
}

@media screen and (max-width: 749px) {
  .collapse-padding .page-intro-section__grid .page-intro-section__content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collapse-padding .page-intro-section__grid:not(.page-intro-section__grid--reverse) .page-intro-section__content:not(.page-intro-section__content--desktop-center) {
    padding-right: 0;
  }

  .collapse-padding .page-intro-section__grid--reverse .page-intro-section__content:not(.page-intro-section__content--desktop-center) {
    padding-left: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .page-intro-section .grid {
    margin-left: 0;
  }
}

/*
  Multirow
  note: consider removing from this stylesheet if multirow-specific styles increase signficantly
*/
.multirow__inner {
  display: flex;
  flex-direction: column;
  row-gap: var(--grid-mobile-vertical-spacing);
}

@media screen and (min-width: 750px) {
  .multirow__inner {
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}


.page-intro-section-wrapper{
  background-color: #FFF3E7;
}
