variant-selects {
    position: relative;
}
  
.select-with-imgs-selected {
    max-width: 44rem !important;
    border: 1px solid #68686A;
    padding: 12px 15px 12px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #68686A;
    border-radius: 5px;
    margin-bottom: 0.75rem;
    display: flex;
    gap: 10px;
    align-items: center;
}
  
.select-with-imgs-selected svg {
    height: .6rem;
    margin-left: auto;
}
  
.select-with-imgs-items {
    max-width: 44rem !important;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
    font-size: 12px;    
    margin-top: -7px;
}

.select-with-imgs-option {
    display: flex;
    gap: 10px;
}
  
.select-with-imgs-items.open {
    display: block;
}
  
.select-with-imgs-items div {
    padding: 5px 10px;
    cursor: pointer;
}
  
.select-with-imgs-items div:hover {
    background-color: #1967D2;
    color: white;
}

.view-glazes-wrapper:nth-child(4){
    display: block;
}

.view-glazes-wrapper:nth-child(6){
    display: none;
}