.stof .title {
  margin: 0;
}

.stof.no-heading .title {
  display: none;
}

.stof .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .stof .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  .stof .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.stof-card__image-wrapper--third-width {
  width: 33%;
}

.stof-card__image-wrapper--half-width {
  width: 50%;
}

.stof-list__item.center
  .stof-card__image-wrapper:not(.stof-card__image-wrapper--full-width),
.stof-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.stof .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .stof .button {
    margin-top: 4rem;
  }
}

.stof-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.stof-list__item:only-child {
  max-width: 72rem;
}

.stof-list__item--empty {
  display: none;
}

.stof:not(.background-none) .stof-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.stof.background-primary .stof-card {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.stof-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.stof-list h3,
.stof-list p {
  margin: 0;
  max-width: 95%;
}

.stof-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.stof-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.stof-list__item.center .media--adapt,
.stof-list__item .media--adapt .stof-card__image {
  width: auto;
}

.stof-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .stof-list {
    margin: 0;
    width: 100%;
  }

  .stof-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


@media screen and (min-width: 750px) {
  .stof-list.slider,
  .stof-list.grid--4-col-desktop {
    padding: 0;
  }

  .stof-list__item,
  .grid--4-col-desktop .stof-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .stof-list__item {
    margin-top: 4rem;
  }
}

.background-none .stof-card-spacing {
  padding: 0;
  margin: 0;
}

.stof-card__info {
  padding: 2.5rem;
}

.stof-card__info p {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.background-none .stof-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .stof-card__info {
  padding-bottom: 0;
}

.background-none .stof-card__image-wrapper + .stof-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .stof-card__info {
  padding-left: 0.5rem;
}

.background-none
  .slider
  .stof-card__image-wrapper
  + .stof-card__info {
  padding-left: 1.5rem;
}

.background-none
  .stof-list:not(.slider)
  .center
  .stof-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .stof-card__info {
    padding-bottom: 1rem;
  }

  .stof.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .stof-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .stof-list .stof-card__info,
  .background-none
    .stof-list:not(.slider)
    .center
    .stof-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.stof-card {
  position: relative;
  box-sizing: border-box;
}

.stof-card > .stof-card__image-wrapper--full-width:not(.stof-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.stof.background-none .stof-card {
  border-radius: 0;
}

.stof-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.stof-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .stof-list__item--empty {
    display: list-item;
  }
}


/* make it do what it needs to do */

@media screen and (min-width: 990px){
  .stof-list{
    /* background: pink */
  }
  .stof-list.grid{
    column-gap:21.5%;
  }

  .stof-list.grid--2-col-desktop .grid__item {
    width: calc(40% - var(--grid-desktop-horizontal-spacing) / 2) !important;
    max-width: calc(40% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  }
}

@media screen and (min-width: 990px){
  .stof-list.grid--2-col-desktop .grid__item:nth-child(1):after{
    background-image: url(https://cdn.shopify.com/s/files/1/0414/3782/3127/t/1/assets/arrow-right.png?v=1593633369);
    background-size: 50px 90px;
    display: block;
    margin-left: 40%;
    margin-top: 2rem;
    width: 50px;
    height: 90px;
    transform: rotate(-20deg);
    position: absolute;
    content: "";
  }

  .stof-list.grid--2-col-desktop .grid__item:nth-child(2){
    margin-top:60vh;
  }


  .stof-list.grid--2-col-desktop .grid__item:nth-child(2):after{
    background-image: url(https://cdn.shopify.com/s/files/1/0414/3782/3127/t/1/assets/arrow-left.png?v=1593634124);
    background-size: 50px 90px;
    display: block;
    margin-left: -7.5%;
    width: 50px;
    height: 90px;
    transform: rotate(20deg);
    position: absolute;
    content: "";
  }

  .stof-list.grid--2-col-desktop .grid__item:nth-child(3){
    margin-top:-5vh;
  }

}

.stof .page-width {
  padding-left: 0;
  padding-right: 0;
  max-width: 1100px;
}
