.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
}

p{
  font-style: italic;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}


.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}


.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


@media screen and (min-width: 750px) {
  .multicolumn-list.slider,
  .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding-top: 1rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none
  .slider
  .multicolumn-card__image-wrapper
  + .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none
  .multicolumn-list:not(.slider)
  .center
  .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none
    .multicolumn-list:not(.slider)
    .center
    .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

    .multicolumn-card__info {
      padding-right: 5.5rem !important;
    }

}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}

.underline{
  text-decoration: underline; text-decoration-skip-ink: none;
  text-underline-offset: .3rem;
  text-decoration-skip-ink: none;
}

.multicolumn-card__info .rte p{
  font-family: new-caledonia, serif;
  font-size: 1.8rem;
  line-height: 2rem;
}

.multicolumn-card__info .rte p strong{
  font-weight: normal;
  font-family: pitch, monospaced;
  font-size: 1.5rem;
}

.multicolumn-card__info .rte ul li{
  font-family: new-caledonia, serif;
  font-size: 1.8rem;
  line-height: 2.25rem;
}

.lb-grid {
  display: flex;
  list-style:none;
   flex-wrap: wrap;
  margin: -10px;
}

.lb-grid-item{
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;
}

.lb-grid-align-left{
  justify-content: flex-start; /* align the grid to the right */
}

.lb-grid-align-right{
  justify-content: flex-end; /* align the grid to the right */
}


/* Define classes for taking up 1/8 to 8/8 of the available space */
.lb-grid-span-1 {
  flex-basis: 12.5%;
}

.lb-grid-span-2 {
  flex-basis: 25%;
}

.lb-grid-span-3 {
  flex-basis: 37.5%;
}

.lb-grid-span-4 {
  flex-basis: 50%;
}

.lb-grid-span-5 {
  flex-basis: 62.5%;
}

.lb-grid-span-6 {
  flex-basis: 75%;
}

.lb-grid-span-7 {
  flex-basis: 87.5%;
}

.lb-grid-span-8 {
  flex-basis: 100%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .lb-grid {
    justify-content: space-between; /* align the grid items to be spread evenly */
    margin:0;
    padding:0;
  }

  .lb-grid-item {
    flex-basis: 100%; /* each item takes up the full width on mobile */
    flex-basis: calc(100% - 5px);
    padding: 5px;
    gap:5px;
  }

  /* if the .grid element has only two children, set both to 50% on tablet */
  .lb-grid > .item:nth-child(1):nth-last-child(2),
  .lb-grid > .item:nth-child(2):nth-last-child(1) {
    flex-basis: 50%;
    margin: 0;
    padding: 5px;
    margin-bottom:1rem;
  }

  /* if there are 3 elements and 2 of them take up 25% on desktop, set both to 50% on mobile */
  .lb-grid > .lb-grid-item:nth-child(1):nth-last-child(3),
  .lb-grid > .lb-grid-item:nth-child(2):nth-last-child(2) {
    flex-basis: 50%;
    margin: 0;
    padding: 5px;
  }
}
